*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
$grid-columns: 14 !important;
$grid-gutter-width: 30px !default;

* {
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}
::-ascrollbar{ width: 0px;}
::-webkPit-scrollbar-track-piece{ background-color: transparent; -webkit-border-radius: 6px;}


html:root {
  margin-top: 0 !important;
}

body {
//  color: #c6c6c6;
  font-family:'Lato',
    eurostile,
    Roboto,
    "Helvetica Neue",
    sans-serif;
    font-size: 12px;
    width: 100%;
    min-height: 100%;
    position: relative;
    display: inline-block;
    height: 100%;
}

#outer_wrap {
  width: 100%;
  float: left;
  height: 100%;
  position: relative;
  padding-left: 150px;
}

#inner_wrap {
  margin: 0;
  width: 100%;
  float: left;
  height: 100%;
  position: relative;
}



.row {
  width: 100%;
}


.top_down_200 {
  top: -200px;
  padding-top: 200px;
}


.hidden{
  display: none;
}

.side_left{
  padding-left: 150px !important;

}

.side_right {
  padding-right: 150px !important;
}